@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.footer {
	position: relative;
	margin-left: 15px;
	left: 0;
	bottom: 0;
	width: 100%;
	color: grey;
	text-align: left;
}

textarea {
	resize: none;
}

.deletePostBtn {
	height: 20px;
	width: 20px;
	float: right;
	background-color: red;
	background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z' clip-rule='evenodd'/></svg>");
}

.flash {
	background: rgba(193, 255, 193, .7);
	color: #625a56;
	width: 100%;
	text-align: center;
	padding: 10px 30px;
	position: absolute;
	top: 110px;
	z-index: 2;
  }
  
  .error {
	color: #fff;
	background: rgba(209, 46, 42, 0.7);
  }

.mainDiv {
	height: 100%
}

.navbar-custom {
	background-color: CornflowerBlue;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
	font-size: 2em;
	color: white;
}

.avatar {
	vertical-align: middle;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.feed {
	border: none;
	margin: auto;
	display: flex;
	flex-flow: column;
	background-color: white;
}

.feed .row {
	background-color: whitesmoke;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 750px;
}

.post {
	width: 50vw !important;
	margin-top: 20px;
}

.post-text {
	font-family: system-ui;
	font-size: 2em;
}

.post-published {
	font-size: 0.8em;
}

.post-header {
	background-color: cornflowerblue;
	border: none;
	top: 1px;
	left: 1px;
	font-family: system-ui;
	font-size: 1.2em
}

.post-content {
	border:none;
	margin-left: 5px;
	margin-top:5px;
	font-size: 2em;
	font-family: system-ui;
}

.post .comment {
	background-color: white;
	margin-top: auto;
	border: solid 1px whitesmoke;
}

.post .comment .avatar {
	text-align: left;
	border: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}

.post .comment .text {
	border: none;
	margin-left: auto;
	margin-right: auto;
	text-indent: 15px;
	font-family: system-ui;
	font-size: 1.2em;
}

.post .entry {
	border: none;
	background-color: whitesmoke;
	margin-left: auto;
	margin-right: auto;
}

.centerCol {
	border: none;
	width: 60vw;
	height: calc(100vh - 75px - 50px);
	overflow-y: scroll;
}

.column {
	float: left;
	padding: 10px;
	border: none;
}

.left {
	width: 25%;
	margin-top: 20px;
}

.right {
	text-align: right;
	width: 24%;
	float: right;
	margin-left: 15px;
	margin-top: 20px;
}

.middle {
	width: 50%;
}

.friendList {
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 20px;
	left: 10px;
	background-color: cornflowerblue;
	overflow-x: hidden;
	padding-top: 8px 0;
}

.profileHeader {
	background-color: cornflowerblue;
	width: 70vw !important;
	margin-top: 20px;
	margin-bottom: 10px;
}

.profileName {
	color: white;
	font-size: 2em;
	padding: 5px;
	margin: 2px;
	opacity: 90%;
}

.profileInfo {
	margin: auto;
	width: 70vw !important;
	height: 250px !important;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
}

.hashtagHeader {
	font-size: 2.0em;
	font-family: system-ui;
	color: cornflowerblue;
	border-bottom: black;
}

.usersHeader {
	font-size: 2.0em;
	font-family: system-ui;
	color: cornflowerblue;
	border-bottom: black;
}

.unfollow {
	color: red;
}

.follow {
	color: green;
}

.user {
	color: teal;
}

.userBlk {
	color: black;
}

.navButton {
	color : white;
}